@font-face {
  font-family: "Fluxisch Else";
  src: url("https://cdn.jsdelivr.net/gh/apparatus-operations/apapratus.fm@main/FluxischElse-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
